// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$primary-orange: #ff8b00;
$primary-blue: #00a3f6;
$dark-bg :#252525;
$darker-bg: #1d1d1d;

::selection { background: rgba(0, 163, 246, 0.7);}
::-moz-selection { background: rgba(0, 163, 246, 0.7); }

html,body {
    height:100%;
}

body.modal-open {
    padding-right:-15px;
}

a, a:active, a:focus,
button, button:focus, button:active,
.btn, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus,
.dropdown-menu {
    outline: none;
    outline: 0;
	font-weight:bolder;
    color:#00a3f6;
}

input::-moz-focus-inner {
    border: 0;
}

body {
    color: #fff;
    font-size: 14px;
    font-family: 'Gotham A', 'Gotham B', Arial, sans-serif;
    font-style: normal;
    font-weight: 200;
    background-color: $dark-bg
}

strong {
    font-weight: 500;
}

p {
    font-weight: 100;
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
strong {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a:hover,
a:active,
a:focus {
    outline: 0;
    text-decoration: none;
}

.episode-title{ text-transform:uppercase;font-size:20px;}

.schedule-dates div div div:hover {
    background-color:$primary-blue;
    color:#000;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.schedule-dates div div div.selected:hover {
    background: transparent;
    color: #fff;
    cursor: default;
}

.scedule-dates strong{ color:$primary-blue; }

.featured-show {
    background: url('../img/mobile-schedule-banner.jpg') left top/cover no-repeat;
    height: calc(100vw * 0.351351351);
    position: relative;
    overflow: hidden;
}

.schedule-dates-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: rgba(0,0,0, 0.5);
    /* @keyframes duration | timing-function | delay | name */
    animation: 0.5s ease 0.5s slideUp;
    animation-fill-mode: backwards;
}

@media screen and (min-width: 320px){

    .jumbotron h1.tune-in-time {
        position: absolute;
        right: 4%;
        bottom: 25%;
        font-size: 4rem;
        font-weight: 700;
        animation: 0.5s ease 0.5s slideDownAndFadeIn;
        animation-fill-mode: backwards;
    }
}

@media screen and (min-width: 768px) {
    .jumbotron h1.tune-in-time {
        bottom: 34%;
    }
}

@media screen and (min-width: 1400px) {
    .jumbotron h1.tune-in-time {
        bottom: 41%;
        right: 5%;
    }
}

@media screen and (min-width: 1860px) {
    .jumbotron h1.tune-in-time {
        font-size: 5rem;
    }
}


/* panel stlyes (taken from live site) */

.schedule .panel-title p { text-transform:uppercase; }

.panel-group.schedule { margin-bottom: 0; }
.panel-group.schedule .fa-share, .panel-group.schedule .fa-share-alt { font-size: 0.8em; }

.panel-group.schedule .schedule-item {
    cursor: pointer;
    margin: 0;
}

.panel-group.schedule .schedule-item.panel-default > .panel-heading {
    background-color: $dark-bg;
    border: 0;
    padding: 0;
}

.panel-group.schedule .schedule-item.panel-default .panel-title strong {
    text-transform: uppercase;
    color: #00a3f6;
    font-weight: 600;
    font-size: 2.6rem;
}

.panel-group.schedule .schedule-item.panel-default .panel-title {
    color: #fff;
    position: relative;
    padding: 20px 0;
}

.panel-group.schedule .schedule-item.panel-default .container {
    position: relative;
}

.panel-group.schedule .schedule-item.panel-default .panel-title .drop-content-icon {
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 2.5em;
    cursor: pointer;
}

.panel-group.schedule .schedule-item.panel-default h2 {
    color: #959595;
    font-weight: 600;
}

.panel-group.schedule .schedule-item.panel-default h2 span.meridiem { font-size: 0.6em;  margin-left: 5px;}
.panel-group.schedule .schedule-item.panel-default.panel {
    background-color: $dark-bg;
    border: 0;
}

.panel-group.schedule .schedule-item ul li,
.schedule-item ul li a {
    font-size: 1.3em;
    color: #959595;
}

.panel-group.schedule .schedule-item .panel-body,
.panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 0;
    background-color: $dark-bg;
}

.panel-group.schedule .schedule-item .panel-body,
.panel-group .panel-heading + .panel-collapse .in > .panel-body {
    border-top: 0;
    background-color: $primary-blue;
}

.panel-group.schedule .schedule-item.panel-default.program-selected .panel-title strong,
.panel-group.schedule .schedule-item.panel-default.program-selected .panel-body p.tv-rating,
.panel-group.schedule .schedule-item.panel-default.program-selected .panel-body em{
    color:#000;
    font-weight: 700;
}

.panel-group.schedule .schedule-item.panel-default.program-selected .panel-body em.fa-play-circle-o,
.panel-group.schedule .schedule-item.panel-default.program-selected .panel-title h2{
    color:#fff;
}

.panel-group.schedule .schedule-item.panel-default .panel-title h4{
    margin: 0px 0 -18px 53px; color:#000;
}

.panel-group.schedule .schedule-item.odd,
.panel-group.schedule .schedule-item.odd .panel-title {
    background-color: #4e4e4e;
}

.panel-group.schedule .schedule-item.blue,
.panel-group.schedule .schedule-item.blue .panel-title {
    background-color: $primary-blue;
    color: #fff;
}

.panel-group.schedule .schedule-item.blue .panel-title strong {
    color: #2b2b2b;
    font-weight: 600;
}

.panel-group.schedule .schedule-item.blue h2 {
    color: #fff;
}

.panel-group.schedule .schedule-item.blue ul li,
.panel-group.schedule .schedule-item.blue ul li a {
    color: #fff;
}

.panel-group.schedule .schedule-item:hover,
.panel-group.schedule .schedule-item:hover .panel-title {
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    background-color: $primary-blue;
    color: #fff;
    font-weight: 600;
}

.panel-group.schedule .schedule-item:hover .panel-title strong {
    color: #2b2b2b;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    font-weight: 600;
}

.panel-group.schedule .schedule-item:hover h2 {
    color: #fff;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.panel-group.schedule .schedule-item:hover ul li,
.panel-group.schedule .schedule-item:hover ul li a {
    color: #fff;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.schedule-dates {
    text-transform: uppercase;
    color: #fff;
}

.schedule-dates table{
  margin:0px;padding:0px;
}

.schedule-dates table td.selected{
  background:black;
}

.schedule-dates a, .schedule-dates a:visited { color: #fff; }
.schedule-dates h3 {
    font-weight: 600;
}

.schedule-dates h3 span.air-date {
    font-weight: normal;
    font-size: 18px;
	white-space:nowrap;
}

.schedule-dates .selected strong {
    color: $primary-blue;
}

.border-left {
    border-left: solid 3px #fff;
}

/* animations */

@keyframes slideUp {
    0% { bottom: -100% }
    100% { bottom: 0; }
}

@keyframes slideDownAndFadeIn {
    0% {
        right: 24rem;
        opacity: 0;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        right: 5%;
        opacity: 1;
    }
}